version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend_dev
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src     
      - ./backend/package.json:/app/package.json
      - ./backend/package-lock.json:/app/package-lock.json
      - /backend/node_modules
    restart: always

  frontend:
    build:
      context: ./frontend/todo
      dockerfile: Dockerfile.dev
    container_name: frontend_dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/todo:/app
      - frontend_node_modules:/app/node_modules
    restart: always

volumes:
  frontend_node_modules:
